pkgbase = matrix-conduit-git
	pkgdesc = A Matrix homeserver written in Rust
	pkgver = 0.2.0.1040.g73b7643
	pkgrel = 1
	url = https://conduit.rs
	install = install-script.install
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = Apache
	makedepends = rust
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	provides = conduit
	backup = etc/matrix-conduit.toml
	source = conduit::git+https://gitlab.com/famedly/conduit
	source = install-script.install
	source = 0001-update-service-dynamicuser_paths.patch
	sha256sums = SKIP
	sha256sums = 476c38accc6c3351805bdab4e24fc5a296c10dad6f59842c49b07aec31966307
	sha256sums = aec20a57463f90e151af2ff1461caebaae070d8daea0a3c587064ccbe0724ce9

pkgname = matrix-conduit-git
